h1 {
  color: blue;
}

p, h2, h3 {
  color: brown;
}

#punainen-kohta {
  color: red;
}

ul, li {
  color: pink;
}

.first-box-container {
  width: 200px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  background-color: red;
  border-style: solid;
  border-width: 10px;
  border-color: green;
  position: absolute;
}

.second-box-container {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  border-style: solid;
  border-width: 10px;
  border-color: red;
  position: absolute;
  left: 250px;
}

.third-box-container {
  width: 200px;
  height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: green;
  border-style: solid;
  border-width: 10px;
  border-color: yellow;
  position: absolute;
  left: 500px;
}

.boxes {
  color: blue;
  text-transform: uppercase;
}