h1 {
  color: blue;
}

p, h2, h3 {
  color: brown;
}

#punainen-kohta {
  color: red;
}

ul, li {
  color: pink;
}

.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  position: absolute;
}

.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  left: 250px;
}

.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  position: absolute;
  left: 500px;
}

.boxes {
  color: black;
}